<div class="ui {% append (colour) %} inverted segment">
    <div class="ui container">
        <div class="ui grid">
            <div class="six wide column">
                <i class="huge circular {% append (icon) %} icon"></i>
            </div>
            <div class="ten wide column">
                <div class="ui text container">
                    <h1>{% append (header) %}</h1>
                    <p>
                        {% append (text) %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
